#!/usr/bin/env bash

# {{ '{{' }} ansible_managed }}

{% set role_venv_bin = role_home + "/venvs/" + role_service_name + "/bin" %}

{% set executable = role_venv_bin + '/gunicorn' %}

source {{ role_home }}/{{ role_name }}_env

# We exec so that gunicorn is the child of supervisor and can be managed properly
exec {{ executable }} -c {{ role_home }}/{{ role_name }}_gunicorn.py {{ (role_name|upper ~ '_GUNICORN_EXTRA') }} {{ role_name }}.wsgi:application
