#!/usr/bin/env bash

# {{ ansible_managed }}

{% set edx_django_service_with_rendered_config_venv_bin = edx_django_service_with_rendered_config_venv_dir + "/bin" %}

{% set executable = edx_django_service_with_rendered_config_venv_bin + '/gunicorn' %}

export EDX_REST_API_CLIENT_NAME="{{ COMMON_ENVIRONMENT }}-{{ COMMON_DEPLOYMENT }}-{{ edx_django_service_with_rendered_config_service_name }}"

source {{ edx_django_service_with_rendered_config_home }}/{{ edx_django_service_with_rendered_config_service_name }}_env
exec {{ executable }} -c {{ edx_django_service_with_rendered_config_home }}/{{ edx_django_service_with_rendered_config_service_name }}_gunicorn.py {{ edx_django_service_with_rendered_config_gunicorn_extra }} {{ edx_django_service_with_rendered_config_wsgi_name }}.wsgi:application
